@font-face {
    font-family: 'cubanoregular';
    src: url('fonts/cubano-regular-webfont.woff2') format('woff2'),
         url('fonts/cubano-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BrandonGrotsque Bold"; 
    src: url(fonts/brandon-grotesque-bold.otf)
    format('otf')
    font-weight: normal;
    font-style: normal;
   }
 @font-face {
    font-family: "BrandonGrotsque Light"; 
    src: url(fonts/brandon-grotesque-light.otf); 
    format('otf')
    font-weight: normal;
    font-style: normal;
   }
 @font-face {
    font-family: "Cubano Regular"; 
    src: url(fonts/Cubano-Regular.otf
    format('otf')
    font-weight: normal;
    font-style: normal;   }
@font-face {
    font-family: "Myriad Pro regular"; 
    src: url(fonts/Myriad Pro regular.otf)
    format('otf');
    font-weight: normal;
    font-style: normal; 
   }